html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

strong, em, b, i {

}

p {

}

a {

}

button, [type="button"] {

    &:focus {
        outline: none;
    }
}

ul {

    li {
    }

    ul {
    }
}

ol {
    ol {
        list-style-type: lower-alpha;
        ol {
            list-style-type: lower-roman;
        }
    }
}
